<div class="apn-page-body">
  {%- render 'product-hero', product: product -%}
  {%- render 'product-ingredients', product: product -%}
  {%- render 'product-how-to', product: product -%}
  {%- render 'product-faq', product: product -%}
  {%- render 'product-reviews', product: product -%}
  {%- render 'product-related', product: product -%}
</div>
